$color-initial   : #fff;

$color-dark   :#383838;
$color-danger :#EF2D2D;
$color-warn   :#2D84EF;
$color-info   :#EFAE2D;
$color-success:#4AD679;

$color-primary   : #DD0426;
$color-secondary : #F02D3A;
$color-tertiary  : #273043;
$color-quaternary: #9197AE;
$color-quinary   : #EFF6EE;