@import "./variables.scss";
$fa-font-path: "/dist/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~milligram/src/milligram";

html, body {
  color: $color-dark;
}

h1, h2, h3, h4, h5 {
  color: $color-dark;
}